<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        <script type="text/javascript" src="//code.jquery.com/jquery-2.1.0.min.js"></script>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/knockout/3.1.0/knockout-min.js"></script>
        <script type="text/javascript" src="/js/knockout.mapping-debug.js"></script>
        <script type="text/javascript" src="/js/marked.js"></script>
        <script type="text/javascript" src="/js/knockout/docs.js"></script>
    </head>
    <body>
        {{ content }}
    </body>
</html>